/** Този файл съдържа CSS който е специялно за страниците за регистрация **/
/*! ДА НЕ СЕ ВКЛЮЧВА, ОСВЕН ВЪВ СЛЕДНИТЕ ФАЙЛОВЕ:
/*! ===================================|
/*! employersignup-mobile.html 
/*! employersignup-pc.html
/*!
/*! usersignup-pc.html
/*! usersignup-mobile.html
/*!
/*! school-signup-mobile.html
/*! school-signup-pc.html
/*!
/*! municipality-signup-pc.html
/*! municipality-signup-mobile.html
/*! 
/*! university-signup-mobile.html
/*! university-signup-pc.html                                
/*! ===================================|
/*? Написан и поддържан от: Марко Златков Стояновски, CTO на BriGaDo */



body {
    background: #f0f0f0 !important;
}

.card-registration{
     background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 15px;
    width: 100%;
    filter: drop-shadow(0px 0px 4px #cccccc);
}

button{
    border-radius: 10px !important;
    font-size: 25px !important;
}

button .next-btn{
    margin-left: 10px !important;
}

#gender-selector-label{
    font-size: 25px !important;
}

#cv{
    font-size: 25px !important;
}

@media screen and (max-width:768px) {
    .form-control{
        width: 448px     !important;
    }
}