/** Този файл съдържа CSS който е специялно за страниците за логин **/
/*! ДА НЕ СЕ ВКЛЮЧВА, ОСВЕН ВЪВ СЛЕДНИТЕ ФАЙЛОВЕ:
/*! ===================================|
/*! userlogin.html 
/*! ===================================|
/*? Написан и поддържан от: Марко Златков Стояновски, CTO на BriGaDo */

@font-face {
  font-family: 'Inter';
  src: url('../../font/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --font-family: 'Inter';
    --btn-background:  linear-gradient(to right, #055a30, #055a45, #07a8a8);
    --btn-color: rgb(255, 255, 255);
}

.card-registration{
    filter: drop-shadow(0px 0px px #cccccc);
}

body {
    font-family: var(--font-family);
    font-weight: bold;
    margin: 0;
    background-color: #F0F0F0 !important;
}

/* Buttons */
.btn-custom,
.btn-custom-login {
    color: var(--btn-color);
    width: 300px;
    height: 60px;
    background-color: var(--btn-bg-color);
    white-space: normal;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
    text-align: center;
      background: linear-gradient(to bottom, #055a30, #055a45, #07a8a8);
}

.form-label{
    font-size: 25px !important;
}

input.form-control {
  width: 100%;
}

.btn-custom-login {
  width: 100%;
  height: 60px;
}

.input-group-login {
  display: flex;
  flex-wrap: wrap;
}

.card-registration {
  max-width: 900px;
  width: 100%;
  margin: auto;
}



@media screen and (max-width: 1400px) and (min-width: 1200px){
.form-label {
    font-size: 20px !important;
    }

button{
    font-size: 20px !important;
}
}


@media screen and (max-width: 1200px) and (min-width: 768px){
.form-label {
    font-size: 18px !important;
    }

button{
    font-size: 18px !important;
}

.card{
    width: 633px !important;
}

}



/* 📱 Mobile */
@media (max-width: 768px) {

  .form-label {
    font-size: 25px !important;
  }

  button{
    font-size: 25px !important;
}


  .btn-custom-login {
    height: 55px;
  }

}
