
.top-text-loc {
  color: black !important;
  width: 100%;
  background: linear-gradient(to right, #055a30, #055a45, #07a8a8);
  margin-bottom: -100px !important;
}

.top-text-loc p {
  font-size: 24px !important;
}


button {
    min-width: 250px !important;
    max-width: 250px !important;
    margin-top: 10px !important;
    font-size: 20px !important;
  }

@media screen and (max-width:400px) {
    .top-text-loc{
        margin-bottom: -100px !important;
}

}

@media screen and (min-width:1000px) {

#city-input {
    margin-bottom: -10px;
}

}