/** Този файл съдържа CSS който е специялно за страниците за екрана на резултати **/
/*! ДА НЕ СЕ ВКЛЮЧВА, ОСВЕН ВЪВ СЛЕДНИТЕ ФАЙЛОВЕ:
/*! ===================================|
/*! brigade-location.html
/*! ===================================|
/*? Написан и поддържан от: Марко Златков Стояновски, CTO на BriGaDo */

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
    --font-family: 'Inter';
    --btn-background:  linear-gradient(to right, #055a30, #055a45, #07a8a8);
    --btn-color: rgb(255, 255, 255);
}

.top-text-loc {
  color: black !important;
  width: 100%;
  background: linear-gradient(to right, #055a30, #055a45, #07a8a8);
  margin-bottom: -100px !important;
}

.top-text-loc p {
  font-size: 24px !important;
}


button {
    min-width: 250px !important;
    max-width: 250px !important;
    margin-top: 10px !important;
    font-size: 20px !important;
  }

@media screen and (max-width:400px) {
    .top-text-loc{
        margin-bottom: -100px !important;
}

}

@media screen and (min-width:1000px) {

#city-input {
    margin-bottom: -10px;
}

}