/** Този файл съдържа CSS който е специялно за страниците за избор на година **/
/*! ДА НЕ СЕ ВКЛЮЧВА, ОСВЕН ВЪВ СЛЕДНИТЕ ФАЙЛОВЕ:
/*! ===================================|
/*! brigade-year.html
/*! ===================================|
/*? Написан и поддържан от: Марко Златков Стояновски, CTO на BriGaDo */


@font-face {
  font-family: 'Inter';
  src: url('../font/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



:root {
    --font-family: 'Inter';
    --btn-background:  linear-gradient(to right, #055a30, #055a45, #07a8a8);
    --btn-color: rgb(255, 255, 255);
}
    
    #box1 {
        max-width: 300px !important;
        width: 300px !important;
    }

        #box2 {
        max-width: 300px !important;
        width: 300px !important;
    }

@media screen and (max-width:600px) {
    .year-text{
    margin-right: 100px;
}
}


    .year-text p{
    font-size: 30px;
}
