#selection{
  background-color: #055a30;
 display: flex;
 margin-top: 100px;
 height: 190px;

}

.footer{
  margin-top: 350px;
}
.box{
  align-content: center;
  display: flex;
  border-radius: 20px;
}
.red {
  background: white !important;
}

.green{
  background-color: white !important; 
}

.box p {
  font-size: 1rem;
  color: white;
  line-height: 30px;
  align-self: center;
  align-self: center;
  margin-bottom: -5px;
}

.bottom-text p{
  margin-top: 20px;
  font-size: 1.2rem;
  
  
}

#selection-bottom{
  width: 50%;
  position: absolute;
  left: 25%;
  height: 60px;
  margin-top: -95px;
  border-radius: 20px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background-color: #055a30;
}


#selection-year{
  width: 100%;
  position: absolute;
  height: 60px;
  z-index: 20;
  margin-top: -25px;
  background-color: #055a30;
}

@media (max-width:400px){
  .box p {
    font-size: 0.8rem;
  }

  #selection-bottom{
  min-width: 100vw !important;
  position: absolute;
  left: 0;
}

}

@media (max-width:1000px){
 .box{
  margin-top: 0px;
 }

 #box2{
  margin-top: 5px;
 }


.bottom-text p{
  font-size: 1rem;
  line-height: 20px;
  margin-top: -5px;
  
}


}

@media (max-width: 700px) {

  #selection{
    height: 250px !important;
  }
  
.bottom-text p{
  font-size: 0.9rem;
  line-height: 20px;
  margin-top: -5px;
  
}


  #selection-bottom{
  min-width: 100vw !important;
  position: absolute;
  left: 0;
}


}

@media (min-width:768px){
  .box{ 
    max-height: 100px;
  }

}

@media (min-width:1000px){
  .box p{
    font-size: 0.7rem !important;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  #selection{
    height: 250px !important;
  }
}