:root {
    --font-family: 'Century Gothic';
    --btn-bg-color: #ffffff;
    --btn-color: rgb(0, 0, 0);
}
*{
    border-radius: 10px !important;
}

/* Global reset */
body {
    font-family: var(--font-family);
    font-weight: bold;
    margin: 0;
}

/* Cards and form controls */
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding: 0 0.75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.account-type input {
    font-size: large;
    background: linear-gradient(to right, #3cb38f, #03ffff);
}

/* Buttons */
.btn-custom,
.btn-custom-login {
    color: var(--btn-color);
    width: 100%;
    background-color: var(--btn-bg-color);
    white-space: normal;
    word-wrap: break-word;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Container limit */
.d-grid {
    max-width: 400px;
    margin: 0 auto;
}



/* Responsive tweaks */
@media (max-width: 768px) {
    .d-flex.gap-2 {
        flex-direction: column;
        gap: 0.5rem;
    }

    .form-control-lg {
        font-size: medium;
    }

    .form-label {
        font-size: 0.9rem;
    }

    .card-body {
        padding: 1.5rem;
    }

    .col-md-6.mb-4 {
        margin-bottom: 0.5rem;
    }

    .form-check-inline {
        margin-right: 0.5rem;
    }

    .btn-custom {
        font-size: 0.9rem;
        padding: 0.8rem 0.5rem;
        min-height: 60px;
    }

    .navbar-brand {
        font-size: 1.2rem;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .form-control-lg {
        font-size: small;
    }

    .form-label {
        font-size: 0.8rem;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .col-md-6 {
        width: 100%;
    }

    .card-registration {
        margin: 0 0.5rem;
    }

    .btn-custom {
        font-size: 0.8rem;
        padding: 0.7rem 0.3rem;
        min-height: 50px;
    }

    .container.py-5.h-100 {
        padding: 1rem 0;
    }
}

@media (max-width: 400px) {
    .btn-custom {
        font-size: 0.75rem;
    }
}
/* Separator */
.separator {
    width: 100%;
    background: linear-gradient(to right, #3cb38f, #03ffff);
    margin: 15px 0;
    padding: 5px 0;
    text-align: center;
    min-height: 20px;
    border-radius: 0px !important;
  }
  
  .separator p {
    color: white;
    margin: 0;
    font-weight: bold;
    border-radius: 10px;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  @media (max-width: 768px) {
    .separator p {
        font-size: 1.5em;
    }
  }


  @media (max-width: 500px) {
    .separator p {
        font-size: 1.0em;
        margin-bottom: 0.5px;
    }
  }