.slot {
      background: linear-gradient(to right, #055a30, #055a45, #07a8a8);
      border-style: solid;
      border-width: 3px;
      border-color: white;
      min-width: 350px;
      max-width: 350px;
      justify-content: center;
      justify-items: center;
}

.slot p {
    color: white !important;
    font-size: 25px !important;
    justify-self: center;
    
}

#selection {
    height: 450px;
    min-height: 450px;
    max-height: 450px;
}

.empty {
          min-width: 350px;
}

.top-text{
    background-color: transparent;
    background: none;
}

.top-text p {
    font-size: 25px;
    position: relative;
}

.box.drag-over {
  border: 2px dashed #fff;
}

.box.slot.dragging {
  opacity: 0.5;
}

.box.slot.placed {
  background-color: #006400;
}

@media screen and (min-width: 1000px){
        .empty{
            margin-bottom: 30px;
        }
}

@media screen and (max-width: 1000px) {
    #selection{
        height: 650px !important;
        max-height: 650px !important;
        min-height: 650px !important;
    }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    #selection{
        height: 850px !important;
        max-height: 850px !important;
        min-height: 850px !important;
    }   
}
