@font-face {
  font-family: 'Inter';
  src: url('../font/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
    --font-family: 'Inter';
    --btn-background:  linear-gradient(to right, #055a30, #055a45, #07a8a8);
    --btn-color: rgb(255, 255, 255);
}

@media screen and  (max-width:600px) {
        #selection{
            max-height: 450px !important;
            min-height: 400px !important;
        }
    }


    @media screen and  (max-width:350px) {
        #selection{
            max-height: 350px !important;
            min-height: 300px !important;
            height: 300px;
        }

    }
